
<div class="row">
    <div class="col-sm-2 mb-2 mb-sm-0">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	    <% @companies.each_with_index do |item,index| %>

		<a class="nav-link <%= 'active' if item.to_s == @type %> show" id="v-pills-<%= item.to_s %>-tab"  href="<%= registered_business_index_path(type: item) %>" role="tab" aria-controls="v-pills-home"
		   aria-selected="true">
		    <i class="mdi mdi-home-variant d-md-none d-block"></i>
		    <span class="d-none d-md-block"><%= t(item) %></span>
		</a>


	    <% end %>

        </div>
    </div> <!-- end col-->

    <div class="col-sm-9">
        <div class="tab-content" id="v-pills-tabContent">


	    <div class="tab-pane fade active  show"  role="tabpanel" >
                <h3 class="mb-0"><%= t @type %></h3>

		<%= render(DataTableComponent.new(keys: CompaniesBase.map_tables(@type).view_columns.keys,url: registered_business_index_path(type: @type))) %>
	    </div>


        </div> <!-- end tab-content-->
    </div> <!-- end col-->
</div>
<!-- end row-->
