<div data-controller="datatable" style="display: block; margin-top: 20px;"
     class="w-100"
     data-datatable-keys="<%= @keys.join(",") %>"
     data-turbolinks="false">
    <table class="table dt-responsive nowrap w-100 table-bordered"
	   data-source="<%= @url %>"
	   data-target="datatable.table">
	<thead>
	    <% @keys.each  do |k|%>
		<th><%= t(k)%></th>
	    <% end %>
	</thead>
	<tbody>

	</tbody>
    </table>
</div>
