.topnav-navbar-dark{background-color:#2F8DD8 !important}.topnav-logo{padding-right:0px !important;min-width:80px !important;margin-top:-5px}.title{margin-right:160px;margin-top:8px}.dep{font-size:16px}.btn{float:right}.btn-light{margin-right:10px}.btn-outline-info{margin-left:15px}.auth-fluid{background-image:url(/background.jpg) !important;background-position:center;background-repeat:no-repeat;background-size:cover}
