
<%= simple_form_for(@workplace,url: create_public_form_path, html: { class: "multisteps-form__form" }) do |f| %>
    <div class="col-10  m-auto">

	<div class="multisteps-form__panel js-active">
	    <h3 class="mb-3"><%= t("new",name: t("workplace")) %></h3>
	    <div class="card">

		<div class="card-body">
		    <%= f.error_notification %>
		    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
		    <ul>
			<% f.object.errors.full_messages.each do |error_message| %>
			    <li><span class="text-danger"><%= error_message %></span> </li>
			<% end %>
		    </ul>

		    <div class="form-group">
			<%= f.input :zone,label: "", as: :radio_buttons, collection: [t(:zone), t(:township)]%>
		    </div>
		    <div class="form-group">
			<%= f.input :ts_pcode,collection: Township.none, selected: f.object.ts_pcode, input_html: { class: "form-control"} %>
		    </div>

		    <div class="form-group">
			<%= f.input :name,  input_html: { class: "form-control"} %>
		    </div>

		    <div class="form-group">
			<%= f.input :address, input_html: { class: "form-control"} %>
		    </div>
		    <div class="form-group mx-auto">
			<%= recaptcha_tags %>
		    </div>

		</div>


	    </div>
	    <div class="actions">


		<button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>


	    </div>

	</div>




	<div class="multisteps-form__panel ">
	    <h3 class="mb-3"><%= t("owner") %>  </h3>
	    <div class="card">

		<div class="card-body">
		    <%= f.simple_fields_for :owner do |f| %>
			<%= f.error_notification %>
			<% if f.object.present? %>
			    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
			<% end %>
			<div class="form-group">
			    <%= f.input :name, input_html: { class: "form-control"} %>
			</div>


			<div class="form-group">
			    <%= f.input :title, input_html: { class: "form-control"} %>
			</div>

			<div class="form-group">
			    <%= f.input :phone_number, input_html: { class: "form-control"} %>
			</div>



			<div class="form-group">
			    <%= f.input :email, input_html: { class: "form-control"} %>
			</div>


		    <% end %>

		</div>
	    </div>
	    <div class="actions">

		<button class="btn btn-primary float-left js-btn-prev" type="button" title="Prev">Prev</button>

		<%= f.submit "Save", class: "btn float-right btn-success" %>
	    </div>



	</div>
    </div>

<% end %>

    </div>

    <script>

     if(document.getElementById('workplace_zone_စက်မှုဇုံ').checked) {
	 array = <%= raw(Township.where("ts_pcode like ?", "%IND%").pluck(:ts_pcode,:name)) %>

	     $('label[for="workplace_ts_pcode"]').text("စက်မှုဇုံ");
	 $('#workplace_ts_pcode').html("")
	 array.forEach((e) => {
	     $('#workplace_ts_pcode').append(new Option(e[1], e[0]));
	 })
     }else if(document.getElementById('workplace_zone_မြို့နယ်').checked) {
	 array = <%= raw(Township.where("ts_pcode like ?", "%MMR%").pluck(:ts_pcode,:name)) %>


	     $('label[for="workplace_ts_pcode"]').text("မြို့နယ်");
	 $('#workplace_ts_pcode').html("")
	 array.forEach((e) => {
	     $('#workplace_ts_pcode').append(new Option(e[1], e[0]));
	 })
	 $('#workplace_ts_pcode').append(new Option('Select group', '0'));

     }
     $("#workplace_zone_စက်မှုဇုံ").click((e) =>  {
	 console.log("Clicked");
	 array = <%= raw(Township.where("ts_pcode like ?", "%IND%").pluck(:ts_pcode,:name)) %>

	     $('label[for="workplace_ts_pcode"]').text("စက်မှုဇုံ");
	 $('#workplace_ts_pcode').html("")
	 array.forEach((e) => {
	     $('#workplace_ts_pcode').append(new Option(e[1], e[0]));
	 })


     })
     $("#workplace_zone_မြို့နယ်").click((e) =>  {
	 array = <%= raw(Township.where("ts_pcode like ?", "%MMR%").pluck(:ts_pcode,:name)) %>


	     $('label[for="workplace_ts_pcode"]').text("မြို့နယ်");
	 $('#workplace_ts_pcode').html("")
	 array.forEach((e) => {
	     $('#workplace_ts_pcode').append(new Option(e[1], e[0]));
	 })
	 $('#workplace_ts_pcode').append(new Option('Select group', '0'));
     })
    </script>
