

<div class="row mx-auto">
    <div class="col-12 mx-auto mr-auto mt-3" style="display: flex">
	<div class="mx-auto justify-content-center" style="display: flex;">
	    <span class="topnav-logo-lg mt-1">
		<img src="/govlogo.png" alt="" height="80">

	    </span>

	    <ul class="list-unstyled title mr-0">
		<h4 class=" navbar-project-name ml-3   p-0" style="color: #444;" >ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့</h4>
		<h6 class=" navbar-project-name dep ml-3">အလုပ်ဌာန ဆက်သွယ်ရေး Online စနစ်</h6>
	    </ul>
	</div>
    </div>

</div>
<hr>

<div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xs-12">
	<div style="display: flex;">
	    <video id='video' class="mx-auto justify-content-center mt-3" controls="controls" preload='none' width="600" poster="/poster.PNG">
		<source id='mp4' src="https://s3-ap-southeast-1.amazonaws.com/www.yangon.gov.mm/assets/videos/labour-aid-company-registration-and-application.mp4" type='video/mp4' />

		<!--
		     Track to be used for accessibility using the VTT standard.

		     See https://www.html5rocks.com/en/tutorials/track/basics/ for more information on how to use text tracks
		-->
		<track kind="subtitles" label="English subtitles" src="subtitles_en.vtt" srclang="en" default>
    </track>
    <!--
         We can also add more than one text track and let the user choose which one to play. There is now way to
         currently do this with the built in controls so it'll have to be scripted -->
    <track kind="subtitles" label="Deutsche Untertitel" src="subtitles_de.vtt" srclang="de">
		</track>

		<!--
		     We're not using Flash as a fallback option. It should be coverage enough to
		-->
		<p>Your user agent does not support the HTML5 Video element.</p>
	    </video>
	</div>

    </div>
    <div class="col-12  col-md-6 col-lg-6  col-sm-12 col-xs-12">
	<h3 style="line-height: 1.5em; color: #444"> ဤ Website တွင် ရန်ကုန်တိုင်းဒေသကြီးအတွင်းရှိ စက်ရုံ၊ အလုပ်ရုံ၊ အလုပ်ဌာနများက Online Account ဖွင့်၍ ထောက်ပံ့ကြေးလျှောက်ထားနိုင်ပါသည်။ </h3>
	<p style="font-size: 1.2em;line-height: 1.7em;">
	    ကျန်းမာရေးနှင့် အားကစားဝန်ကြီးဌာန မှ ၂၀၂၀ ပြည့်နှစ်၊ စက်တင်ဘာလ ၂၀ ရက်နေ့ ရက်စွဲဖြင့်၊ ထုတ်ပြန်သော အမိန့်အမှတ် ၁၀၇/၂၀၂၀ အရ၊ Covid-19 Stay Home (၂) ပတ် ကာလအတွင်း လုပ်ငန်းဆိုင်းငံ့ထားရသော စက်ရုံ၊အလုပ်ရုံနှင့် အလုပ်ဌာနများ၏ အလုပ်သမားများတွင် လူမှုဖူလုံရေးမှတ်ပုံမတင်ရသေးသည့် အလုပ်သမားဝန်ထမ်းများအတွက် တစ်ဦးလျှင် (၃၀,၀၀၀) ကျပ် ကို နိုင်ငံတော်က ထောက်ပံ့ပေးမည် ဖြစ်၍ ထောက်ပံ့ကြေးရယူရန် အတွက် စက်ရုံ၊ အလုပ်ရုံနှင့် အလုပ်ဌာနများ က မိမိ၏ အလုပ်သမားများအတွက် တာဝန်ခံ၍ လျှောက်ထားရပါမည်။ အသေးစိတ်ကို
	    <a href="https://www.yangon.gov.mm/labouraid.html">https://www.yangon.gov.mm/labouraid.html</a> တွင် လေ့လာဖတ်ရှုနိုင်ပါသည်။ ဆက်လက်မဆောင်ရွက်မီ ဖတ်ရှုရန် အကြံပြုပါသည်။
	</p>
    	<p style="font-size: 1.2em;line-height: 1.7em;">
	    အလုပ်ဌာနသည် (၁) Online Account ဖွင့်ရန် Email ဖြင့် မှတ်ပုံတင်ရပါမည်။ (၂) Email ရရှိသောအခါ မိမိ၏ လျှို့ဝှက်ကုတ်ကို သတ်မှတ်ရပါမည်။ (၃) Online Account ဖြင့် Login ဝင်ရောက်၍ ထောက်ပံ့ကြေးလျှောက်လွှာနှင့် အလုပ်သမားစာရင်းကို တင်ပို့၍ လျှောက်ထားရပါမည်။ Email ရရှိရန် (၂၄) နာရီထိ ကြာမြင့်နိုင်ပါသည်။ Online Account ဖွင့်နည်းကို ဖော်ပြပါ Video လေ့လာနိုင်ပါသည်။


	</p>
	<div style="display: flex;">
	    <div class="mx-auto justify-content-center mt-3">
		<%= link_to  t(:login), new_user_session_path, class: "btn btn-success" %>
		<%= link_to  t(:register), new_public_form_path, class: "mr-3 btn  btn-warning" %>

	    </div>
	</div>
    </div>
</div>
