<div class="container" data-turbolinks="false">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card">
                <!-- Logo -->

                <div class="card-body p-4">

                    <div class="text-center mx-auto justify-content-center">

			<lottie-player class="mx-auto justify-content-center" src="https://assets2.lottiefiles.com/packages/lf20_b1nL47.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;margin: -50px" loop autoplay></lottie-player>

                        <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Please check your email</h4>
                        <p class="text-muted mb-4" style="line-height: 2.5em;">
			    အကောင့်ဖွင့်ရန် လျှောက်လွှာတင်ခြင်း အောင်မြင်ပါသည်။ အကောင့်ဖွင့်ခြင်း လျှောက်လွှာအားလက်ခံရရှိပါက လူကြီးမင်း၏ အီးမေးလ် သို့ဆက်လက်လုပ်ဆောင်ရမည့် URL ကျလာပါမည်။
                        </p>
                    </div>



                </div> <!-- end card-body-->
            </div>
            <!-- end card-->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
