
<%= simple_form_for(@user,url: @url) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-group">
	<%= f.input :name, input_html: { class: "form-control"} %>
    </div>

    <div class="form-group">
	<%= f.input :organization_name,  input_html: { class: "form-control"} %>
    </div>

    <div class="form-group">
	<%= f.input :email, input_html: { class: "form-control"} %>
    </div>

    <div class="form-group">
	<%= f.input :password, input_html: { class: "form-control", type: "password"} %>
    </div>



    <div class="form-group">
	<%= f.input :password_confirmation, input_html: { class: "form-control", type: "password"} %>
    </div>

    <% if current_user.my_creatable_roles.count != 0%>
	<div class="form-group">
	    <%= f.input :townships,collection: Township.all.pluck(:name,:ts_pcode),  input_html: { class: "form-control", multiple: true } %>
	</div>
    <% end %>


    <div class="form-group">
	<%= f.input :title,  input_html: { class: "form-control"} %>
    </div>


    <script>
     $("#user_townships").select2();
     $('#user_townships').val(<%= raw(f.object&.townships&.pluck(:ts_pcode)&.map(&:to_s))%>);
     $('#user_townships').trigger("change");

    </script>
    <div class="form-group">
	<%= f.input :user_role,collection: current_user.my_creatable_roles, selected: f.object.user_role %>
    </div>

    <div class="actions">
	<%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>
<style>
 .select2-container .select2-selection--multiple .select2-selection__choice{
     color: black;
 }
</style>
