<% if notice.present? %>
    <div class="alert alert-success" role="alert">
	<strong>Success - </strong> <%= notice %>
    </div>
<% end %>
<h3 class="mt-2"><%= t("users") %></h3>



<%= link_to t(:new, name: t("user")), new_user_path, class: "btn btn-outline-info", type: "button" %>

<%= render(DataTableComponent.new(keys: User.view_columns.keys,url: users_path)) %>
