<p id="notice"><%= notice %></p>
<h3> <%= t("user_details") %> </h3>
<div class="row">
    <div class="col-6">
	<div class="card">
	    <div class="card-body">
		<div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
			<i class="dripicons-dots-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
			<!-- item-->
			<a href="" class="dropdown-item">
			    <i class="mdi mdi-key-link  mr-1"></i><%= t("reset_password") %>
			</a>
			<a href="<%=  edit_user_path(@user)%>" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>

			<!-- item-->
			<a href="<%= destroy_user_path(@user, method: :delete) %>" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
			<!-- item-->

                    </div>
		</div>
		<!-- project title-->
		<h3 class="mt-0">
		    <%= @user.name %>
		</h3>
		<div class="badge badge-primary mb-3"> <%=  @user.email %></div>
		<div class="badge badge-danger mb-3"> <%=  @user.user_role %></div>


		<h5><%= @user.organization_name %>:</h5>
		<p class="text-muted mb-2">
		    <%= @user.title  %>
		</p>

		<p class="text-muted mb-2">
		    <% if @user.workplaces.exists? %>
			<%= link_to @user.workplaces.first.name,workplace_path(@user.workplaces.first) %>
		    <% end %>
		</p>

	    </div>

        </div>
    </div>
</div>

<%= link_to 'Back', workplaces_path %>
