<div class="topnav shadow-sm">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
		    <% unless current_user.company? %>
			<% unless current_user.printonly_admin? %>
			    <li class="nav-item"><a href="/summary/index" class="nav-link"><%= t("summary_index") %></a></li>
			<% end %>
		    <% end %>
		    <% if can? :manage, :workplaces %>
			<% unless current_user.company? %>
			    <% if !current_user.admin? and !current_user.readonly_admin? and !current_user.printonly_admin? %>
				<li class="nav-item">
				    <a href="/workplaces?aasm_state=pending" class="nav-link"><%= t("pending_workplaces") %>
					<% if current_user.my_workplaces.where(aasm_state: "pending").count > 0 %>
					    <span class="badge badge-danger-lighten"><%=  current_user.my_workplaces.where(aasm_state: "pending").count %></span>
					<% end %>
				    </a>

				</li>
				<li class="nav-item"><a href="/workplaces?aasm_state=rejected" class="nav-link"><%= t("rejected_workplaces") %></a></li>
				<li class="nav-item"><a href="/workplaces?aasm_state=accepted" class="nav-link"><%= t("accepted_workplaces") %></a></li>
			    <% end %>
			<% end %>
		    <% end %>
		    <% if current_user.admin? or current_user.sys_admin?  %>
			<li class="nav-item"><a href="/summary/index?filter_type=verified" class="nav-link"><%= t("summary_index_verified") %></a></li>
			<li class="nav-item"><a href="/summary/index?filter_type=approved" class="nav-link"><%= t("summary_index_approved") %></a></li>

		    <% end %>
		    <% if current_user.admin? or current_user.sys_admin?  or current_user.printonly_admin?%>
			<li class="nav-item"><a href="/summary/index?filter_type=approved" class="nav-link"><%= t("summary_index_approved") %></a></li>

		    <% end %>
		    <% if current_user.admin? or current_user.sys_admin?  %>
			<li class="nav-item"><a href="/summary/index?filter_type=rejected" class="nav-link"><%= t("summary_index_rejected") %></a></l>


		    <% end %>
		    <% if can? :manage, :application_requests %>
			<% if !current_user.admin? and !current_user.readonly_admin? and !current_user.printonly_admin?%>
			    <li class="nav-item"><a href="/application_requests" class="nav-link"><%= t("application_requests") %></a></li>
			<% end %>
		    <% end %>
		    <% if can? :manage, :users %>
			<% if current_user.sys_admin? %>
			    <li class="nav-item"><a href="/users" class="nav-link"><%= t("users") %></a></li>
			<% end %>
		    <% end %>
		    <% if can? :manage, :townships %>
			<% if current_user.sys_admin? %>
			    <li class="nav-item"><a href="<%= townships_path %>" class="nav-link"><%= t("townships")%></a></li>
			<% end %>
		    <% end %>
		    <% unless current_user.company? %>
			<% unless current_user.is_industry_user? %>
			    <% unless current_user.admin? %>
				<%  if !current_user.readonly_admin? and !current_user.printonly_admin? %>
				    <li class="nav-item"><a href="<%= registered_business_index_path %>" class="nav-link"><%= t("registered_business")%></a>
				    </li>
				<% end %>
			    <% end %>
			<% end %>
		    <% end %>
                </ul>
            </div>
        </nav>
    </div>
</div>
