<li class="dropdown notification-list">
    <a class="nav-link dropdown-toggle nav-user arrow-none mr-0"  data-toggle="dropdown" href="#" role="button" aria-haspopup="false" style="background: transparent; border: none"
       aria-expanded="false">
        <span class="account-user-avatar">
            <img src="/profile.svg" alt="user-image" class="rounded-circle">
        </span>
        <span class="text-white">
            <span class="account-user-name"><%= current_user.name %></span>
            <span class="account-position"><%= current_user.title %></span>
        </span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

        <!-- item-->
        <a href="<%= destroy_user_session_path %>" class="dropdown-item notify-item">
            <i class="mdi mdi-logout mr-1"></i>
            <span><%= t("logout") %></span>
        </a>

    </div>
</li>
