
<%= simple_form_for(@workplace) do |f| %>
    <div class="card">

	<div class="card-body">
	    <%= f.error_notification %>
	    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	    <ul>
	    <% f.object.errors.full_messages.each do |error_message| %>
		<li><span class="text-danger"><%= error_message %></span> </li>
	    <% end %>
	    </ul>
	    <div class="form-group">
		<%= f.input :ts_pcode,collection: current_user.townships.pluck(:name, :ts_pcode), label: 'Township', selected: f.object.ts_pcode, input_html: { class: "form-control"} %>
	    </div>

	    <div class="form-group">
		<%= f.input :name,  input_html: { class: "form-control"} %>
	    </div>

	    <div class="form-group">
		<%= f.input :address, input_html: { class: "form-control"} %>
	    </div>


	</div>
    </div>
    <h3 class="mb-3"><%= t("owner") %>  </h3>
    <div class="card">

	<div class="card-body">
	    <%= f.simple_fields_for :owner do |f| %>
		<%= f.error_notification %>
		<% if f.object.present? %>
		    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
		<% end %>
		<div class="form-group">
		    <%= f.input :name, input_html: { class: "form-control"} %>
		</div>


		<div class="form-group">
		    <%= f.input :title, input_html: { class: "form-control"} %>
		</div>


		<div class="form-group">
		    <%= f.input :email,  input_html: { class: "form-control"} %>
		</div>

		<div class="form-group">
		    <%= f.input :password, input_html: { class: "form-control", type: "password"} %>
		</div>



		<div class="form-group">
		    <%= f.input :password_confirmation, input_html: { class: "form-control", type: "password"} %>
		</div>





		<%= f.hidden_field :user_role, value: "Company" %>




	    <% end %>

	</div>
    </div>
    <div class="actions">
	<%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>
