<% if notice.present? %>
    <div class="alert alert-success" role="alert">
	<strong>Success - </strong> <%= notice %>
    </div>
<% end %>

<% if current_user.company? %>
    <h3 class="mt-2"><%= t("my", name: t("workplaces")) %></h3>
<% else %>
    <h3 class="mt-2"><%= t("workplaces") %></h3>
<% end %>


<% if can? :create, :workplaces%>
    <% if current_user.account_manager? or current_user.verification_officer? %>
	<%= link_to t("new",name: t("workplace")), new_workplace_path, class: "btn btn-outline-info", type: "button" %>
    <% end %>
<% end %>

<% if current_user.company? %>
    <% if current_user.workplaces.present? %>
	<div class="col-3 mt-3">
	    <div class="card">
		<div class="row no-gutters align-items-center">

		    <div class="col-md-12">
			<div class="card-body">
			    <h2 class="card-title"><%= current_user.workplaces.first.name %></h2>
			    <p class="card-text">
				<%= current_user.workplaces.first.address%>

			    </p>
			    <p class="card-text"><small class="text-muted">Created at <%= time_ago_in_words( current_user.workplaces.first.created_at)  %> ago</small></p>
			</div> <!-- end card-body-->
		    </div> <!-- end col -->
		</div> <!-- end row-->
	    </div>
	</div>
    <% end %>
<% else %>
    <%= render(DataTableComponent.new(keys: Workplace.view_columns.keys,url: workplaces_path(aasm_state: params[:aasm_state]))) %>
<% end %>
