
<p id="notice"><%= notice %></p>
<% if @workplace.accepted? %>
    <%= link_to t(:reset_password), workplace_change_state_path(@workplace, state: "reset"), method: :post, class: "btn btn-success" %>
<% end %>
<% if @workplace.rejected? %>
    <%= link_to t(:delete), workplace_path(@workplace),method: :delete, class: "btn btn-danger" ,data: { confirm: "Are you sure" } %>
<% end %>
<% if @workplace.pending? %>
    <% if current_user.account_manager? %>
	<%= link_to t(:accept), workplace_change_state_path(@workplace, state: "accept"), method: :post, class: "btn btn-success" %>
	<%= link_to t(:reject), workplace_change_state_path(@workplace, state: "reject"), method: :post, class: "mr-3 btn btn-danger" %>
    <% end %>
<% end %>
<h3> <%= t("workplace_details") %> </h3>

<span class="badge badge-primary mb-3 p-2 rounded" style="font-size: 1em"><%= t(@workplace.aasm_state) %></span>
<div class="row">
    <div class="col-6">
	<div class="card">


	    <div class="card-body">

		<!-- project title-->
		<h3 class="mt-0">
		    <%= @workplace.name %>
		</h3>
		<div class="badge badge-primary mb-3">Created at <%= time_ago_in_words(@workplace.created_at) %> ago</div>

		<p class="text-muted mb-2">

                    <%= @workplace.address %>
		</p>
		<h5>Owner:</h5>

		<p class="text-muted mb-2">
		    <%= link_to @workplace.owner.name,get_user_path(@workplace.owner) %>
		</p>

	    </div>

        </div>
    </div>
</div>
<h3> <%= t("owner") %> </h3>
<div class="row mt-3">
    <div class="col-6">
	<div class="card">
	    <div class="card-body">

		<!-- project title-->
		<h3 class="mt-0">
		    <%= @owner.name %>
		</h3>


		<p class="text-muted mb-2">

                    <%= @owner.title %>
		</p>
		<p class="text-muted mb-2">

                    <%= @owner.phone_number %>
		</p>


		<p class="text-muted mb-2">

                    <%= @owner.email %>
		</p>

	    </div>

        </div>
    </div>
</div>

<%= link_to 'Back', workplaces_path %>
