
<%= simple_form_for(@extra_employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ward %>
    <%= f.input :street %>
    <%= f.input :house_no %>
    <%= f.input :name %>
    <%= f.input :gender %>
    <%= f.input :nric %>
    <%= f.input :date_of_birth %>
    <%= f.input :job %>
    <%= f.input :workplace %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
