<p id="notice"><%= notice %></p>

<h1>Extra Employees</h1>

<table>
  <thead>
    <tr>
      <th>Ward</th>
      <th>Street</th>
      <th>House no</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Nric</th>
      <th>Date of birth</th>
      <th>Job</th>
      <th>Workplace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extra_employees.each do |extra_employee| %>
      <tr>
        <td><%= extra_employee.ward %></td>
        <td><%= extra_employee.street %></td>
        <td><%= extra_employee.house_no %></td>
        <td><%= extra_employee.name %></td>
        <td><%= extra_employee.gender %></td>
        <td><%= extra_employee.nric %></td>
        <td><%= extra_employee.date_of_birth %></td>
        <td><%= extra_employee.job %></td>
        <td><%= extra_employee.workplace %></td>
        <td><%= link_to 'Show', extra_employee %></td>
        <td><%= link_to 'Edit', edit_extra_employee_path(extra_employee) %></td>
        <td><%= link_to 'Destroy', extra_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extra Employee', new_extra_employee_path %>
