<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @extra_employee.ward %>
</p>

<p>
  <strong>Street:</strong>
  <%= @extra_employee.street %>
</p>

<p>
  <strong>House no:</strong>
  <%= @extra_employee.house_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @extra_employee.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @extra_employee.gender %>
</p>

<p>
  <strong>Nric:</strong>
  <%= @extra_employee.nric %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @extra_employee.date_of_birth %>
</p>

<p>
  <strong>Job:</strong>
  <%= @extra_employee.job %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @extra_employee.workplace %>
</p>

<%= link_to 'Edit', edit_extra_employee_path(@extra_employee) %> |
<%= link_to 'Back', extra_employees_path %>
