<p id="notice"><%= notice %></p>

<h3 class="mt-2">Townships</h3>

<%= link_to 'New Township', new_township_path, class: "btn btn-outline-info", type: "button" %>


<%= render(DataTableComponent.new(keys: Township.view_columns.keys,url: townships_path)) %>
