<p id="notice"><%= notice %></p>

<p>
  <strong>Ts pcode:</strong>
  <%= @township.ts_pcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @township.name %>
</p>

<%= link_to 'Edit', edit_township_path(@township) %> |
<%= link_to 'Back', townships_path %>
