<% if params[:filter_type].present? %>
    <h3><%= t("summary_index_#{params[:filter_type]}") %></h3>
<% else %>
    <h3><%= t("summary_index") %></h3>
<% end  %>
<script>
 // specify the columns
 var editable = false;


 <% if params[:filter_type] == "approved" %>
 var columnDefs = [
     // filter not specified, defaultColDef setting is used
     {
	 headerName: "စဉ်",
	 valueGetter: "node.rowIndex + 1", width: 100,
     },
     { headerName: "",field: 'actions',resizeable: true,
       cellRenderer: function (params) {
	   return params.value
       }
     },
     { headerName: "လျှောက်ထားသည့် ရက်စွဲ",field: 'submit_at', editable: editable, sort: "desc" },
     { headerName: "အလုပ်ဌာန",field: 'workplace_name',editable: editable },
     { headerName: "လျှောက်ထားသူ",field: 'owner_name',editable: editable},
     { headerName: "စက်မှုဇုန်",field: 'zone',editable: editable,sort: "desc" },
     { headerName: "အခြေအနေ",field: 'status',editable: editable },
     { headerName: "လုပ်သားဦးရေ", children: [
	 { headerName: "ကျား",field: 'male',editable: editable },
	 { headerName: "မ",field: 'female',editable: editable },
	 { headerName: "ပေါင်း",field: 'total',editable: editable, sort: "desc" }
     ] }
 ];

 var  head = { headerName: "",
	       checkboxSelection: true , width: 50}
 columnDefs.unshift(head);
 <% else %>

 var columnDefs = [
     // filter not specified, defaultColDef setting is used
     {
	 headerName: "စဉ်",
	 valueGetter: "node.rowIndex + 1", width: 100,
     },
     { headerName: "",field: 'actions',
       cellRenderer: function (params) {
	   return params.value
       }
     },
     { headerName: "လျှောက်ထားသည့် ရက်စွဲ",field: 'submit_at', editable: editable, sort: "desc"},
     { headerName: "အလုပ်ဌာန",field: 'workplace_name',editable: editable },
     { headerName: "လျှောက်ထားသူ",field: 'owner_name',editable: editable},
     { headerName: "စက်မှုဇုန်",field: 'zone',editable: editable,sort: "desc" },
     { headerName: "အခြေအနေ",field: 'status',editable: editable },
     { headerName: "လုပ်သားဦးရေ", children: [
	 { headerName: "ပေါင်း",field: 'total',editable: editable, sort: "desc" }
     ] }
 ];

 <% end %>
 window.colDefs = columnDefs
 window.initialRows =  <%= @summary_json.html_safe %>;
</script>
<div  data-controller="summary-grid"
      data-employee-grid-editable="false"
      data-employee-grid-url="">
    <div class="row mt-3">
	<div class="col-12">
	    <%= form_with(url: summary_print_path, local: true,id: "export", html: { target: "_blank" }) do |f| %>
		<%= f.hidden_field :ids, id: "ids" %>

	    <% end %>
	    <%= form_with(url: summary_index_path,local: true,method: :get) do |f| %>
		<%= f.hidden_field :filter_type, value: params[:filter_type] %>
		<label> <b>Start Date</b> </label>
		<%= f.text_field :start_time, value: @start_date, class: "form-control w-auto", style: "display: inline", required: true,
		   data: {
		       controller: "flatpickr"
		   } %>
		<label> ⟶ </label>
		<%= f.text_field :end_time, value: @end_date, class: "form-control w-auto", style: "display: inline", required: true,
		 data: {
		     controller: "flatpickr"
		 } %>
		<label><b>End Date</b></label>
		<button type="button" class="ml-3 btn btn-outline-warning" data-action="click->summary-grid#export"> Export </button>
		<% if params[:filter_type].present? and params[:filter_type] == "approved" %>

		    <button type="button" class="ml-3 btn btn-outline-primary" data-action="click->summary-grid#exportForPayment"> Print for Payment </button>
		<% end %>
		<%= f.submit "Search", class: "btn btn-outline-success" %>
	    <% end %>


	</div>
    </div>
    <div class="row">
	<div class="col-12">

	    <div id="myGrid"
		 style="height: 600px;width:100%;"
		 class="ag-theme-alpine mt-3"
		 data-target="summary-grid.grid">
	    </div>
	</div>
    </div>
</div>
