<h1>
    Hello
</h1>
<style>
 @page {
     size: A4;
     margin: 0;
 }
 @media print {
     html, body {
	 width: 210mm;
	 height: 297mm;
     }
     /* ... the rest of the rules ... */
 }
 img {
     /* Same as first example */
     min-height: 50px;
 }

 img:before {
     content: " ";
     display: block;

     position: absolute;
     top: -10px;
     left: 0;
     height: calc(100% + 10px);
     width: 100%;
     background-color: rgb(230, 230, 230);
     border: 2px dotted rgb(200, 200, 200);
     border-radius: 5px;
 }

 img:after {
     content: "\f127" " Broken Image of " attr(alt);
     display: block;
     font-size: 16px;
     font-style: normal;
     font-family: FontAwesome;
     color: rgb(100, 100, 100);

     position: absolute;
     top: 5px;
     left: 0;
     width: 100%;
     text-align: center;
 }
</style>
