

<div class="row">
    <div class="col-12"
	 data-controller="employee-grid"
	 data-employee-grid-editable="true"
    	 data-employee-grid-url="">
	<div id="myGrid"
	     style="height: 600px;width:100%;"
	     class="ag-theme-alpine mt-3"
	     data-action="updateGrid@window->employee#update"
	     data-target="employee-grid.grid">

	</div>
    </div>
</div>
