<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="upload-excel">
    <div class="modal-dialog" role="document">
	<div class="modal-content">
	    <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Upload Excel</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		</button>
	    </div>

	    <div class="modal-body">
		<input type="file" id="fileUpload" class="form-control" data-target="upload-excel.file" />

	    </div>
	    <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<input type="button"
		       id="upload"
		       value="Upload"
		       data-action="click->upload-excel#upload"

		       class="btn btn-primary"
		       data-dismiss="modal"/>
	    </div>
	</div>
    </div>
</div>
