<%= simple_form_for(@application_request,:method => :patch,url: application_request_path(@application_request)) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :organization_name %>
    <%= f.input :organization_registration_no %>
    <%= f.input :owner_name %>
    <%= f.input :owner_phone %>
    <%= f.input :is_running %>
    <%= f.input :address %>
    <%= f.input :employer_ssn %>
    <%= f.input :attachment, input_html: { accept: "image/*" } %>
    <%= f.input :ts_pcode,collection: Township.all.pluck(:name, :ts_pcode), selected: f.object.ts_pcode, input_html: { class: "form-control"} %>




    <div class="actions">
	<%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>
