<h3>Editing Application Request</h3>

<%= render 'form', application_request: @application_request %>

<%#= link_to 'Show', @application_request %>
<%#= link_to 'Back', application_requests_path %>
<%= link_to 'Back', application_requests_path, class: "btn btn-light" %>
