<p id="notice"><%= notice %></p>

<h3><%= t("application_requests") %></h3>

<% if false == true %>
    <%= link_to 'New Application Request', new_application_request_path, class: "btn btn-outline-info", type: "button" %>
<% end %>

<%= render(DataTableComponent.new(keys: ApplicationRequest.view_columns.keys,url: application_requests_path)) %>


<br>
<% if false == true %>
    <div class="alert alert-success" role="alert">
	<strong>Info - </strong> ဤ Feature အား မဖွင့်သေးပါ။
    </div>
    <div id="svgContainer" class="mx-auto" style="width: 500px;"></div>
    <script>
     var svgContainer = document.getElementById('svgContainer');
     var animItem = bodymovin.loadAnimation({
	 wrapper: svgContainer,
	 animType: 'svg',
	 loop: true,
	 path: '/working.json'
     });
    </script>

<% end %>
