<div  data-controller="employee-grid"
      data-employee-grid-editable="false"
      data-employee-grid-redirect-url="<%= application_request_path(@application_request) %>"
      data-employee-grid-post-url="<%= application_request_batch_create_path(id: @application_request.id) %>">
    <div class="row" >
	<div class="col-12">
	    <h3 class="float-left"> <%= link_to @application_request.workplace.name, application_request_path(@application_request) %> / <%= t("employees") %> <span id="rowCount"></span> </h3>

	    <button type="button" class="btn btn-success"  id="btnAddNewRow" data-action="click->employee-grid#saveGrid"><%= t("save") %></button>
	    <%= link_to  "Download Template", "/employees-list-template.xlsx", target: :_blank, class: 'btn btn-primary mr-1' %>

	    <button type="button" class="btn btn-outline-primary mr-1"  data-toggle="modal" data-target="#uploadModal">Upload Excel File</button>




	    <button type="button" class="btn btn-outline-danger mr-1"  id="btnAddNewRow" data-action="click->employee-grid#clear"><%= t("clear") %></button>
	    <button type="button" class="btn btn-outline-info mr-1"  id="btnAddNewRow" data-action="click->employee-grid#back"><%= t("back") %></button>
	    <%= render partial: "file_upload_modal" %>
	</div>
    </div>
    <div class="row">

	<div class="col-12">
	    <div id="myGrid"
		 style="height: 600px;width:100%;"
		 class="ag-theme-alpine mt-3"
		 data-action="updateGrid@window->employee-grid#update"
		 data-target="employee-grid.grid">

	    </div>
	</div>
    </div>
</div>




<script>
 // specify the columns
 var columnDefs = [
     // filter not specified, defaultColDef setting is used
     { headerName: "",field: 'actions',width:70,
       cellRenderer: function (params) {
	   return params.value
       }
     },
     { headerName: "Name",field: 'name', editable: true },
     { headerName: "Gender",field: 'gender',editable: true },
     { headerName: "Date of birth",field: 'date_of_birth',editable: true,cellEditor: 'dateEditor',    filter: 'agDateColumnFilter' },
     { headerName: "Nric",field: 'nric',editable: true },
     { headerName: "Position",field: 'position',editable: true },
     { headerName: "Salary",field: 'salary',editable: true },
     { headerName: "Remark",field: 'ssn_employee_no',editable: true }
 ];
 window.colDefs = columnDefs
</script>
<script>

 window.initialRows = [];

</script>
