<% if notice.present? %>
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
	</button>
	<strong></strong><%= notice %>
    </div>
<% end %>
<div  data-controller="employee-grid"
      data-employee-grid-editable="true"
      data-employee-grid-url=""
      data-employee-grid-delete-url="<%= application_request_batch_delete_path(id: @application_request.id) %>">

    <div class="card">
	<div class="card-header">
	    <div class="card-title">
		<h3 class="mm"><%= t("application_request") %></h3>
	    </div>


	    <h4><span class="badge badge-primary badge-pill"><%= @application_request.aasm_state.humanize %></span></h4>

	    <p><%= @application_request.aasm_state.humanize %> at ⟶ <%= time_ago_in_words(@application_request.created_at) %> <span style="color: red"> | </span> Last action at ⟶ <%= @application_request.updated_at&.strftime("%Y-%m-%d") %></p>

	    <dl>

		<dt class="text-black"><%= t(:organization_name) %></dt>
		<dd><%= @application_request.organization_name %></dd>

		<dt class="text-black"><%= t(:organization_registration_no) %></dt>
		<dd><%= @application_request.organization_registration_no %></dd>

		<dt class="text-black"><%= t(:owner_name) %></dt>
		<dd><%= @application_request.owner_name %></dd>

		<dt class="text-black"><%= t(:owner_phone) %></dt>
		<dd><%= @application_request.owner_phone %></dd>


		<% if  @application_request.is_running  %>
		    <dt><%= t(:is_running) %></dt>
		<% end %>

	    </dl>


	</div>


	<div class="card-body">
	    <div class="row">
		<div class="col-12">
		    <%= button_to(I18n.t("print"), print_application_request_path(),params: { id: @application_request.to_sgid.to_s}, class: "btn btn-warning float-left mr-1", method: :post, form:{ target: "_blank" }) %>
		    <% if @application_request.attachment.attached? %>
			<a href="<%= url_for(@application_request.attachment) %>" target="_blank" type="button" class="btn float-left btn-info" style="display: flex;">
			    <div id="download-svgContainer" style="margin: -20px; width: 60px;"></div>
			    <span class="ml-2"><b><%= t("download_attachment") %></span></b></a>
		    <% end %>

		    <% if current_user.account_manager? %>
			<% if @application_request.submitted? %>
			    <%=  link_to "အတည်ပြုပါသည်။",application_request_change_state_path(@application_request, state: "verify"), method: :post, class: "btn float-left btn-outline-success ml-2" %>

			<% end %>
			<% unless @application_request.approved? %>
			    <% unless @application_request.rejected? %>
				<% unless  @application_request.draft? %>
				    <%=  link_to "Reject",application_request_change_state_path(@application_request, state: "reject"), method: :post, class: "btn float-left btn-outline-success ml-2" %>
				<% end %>
			    <% end %>

			<% end %>
		    <% elsif current_user.admin?  %>
			<% if @application_request.verified? %>
			    <%=  link_to "သဘောတူပါသည်။",application_request_change_state_path(@application_request, state: "approve"), method: :post, class: "btn float-left btn-outline-success ml-2" %>

			<% end %>
		    <% elsif current_user.company? %>
			<% if @application_request.draft? %>

			    <%  unless @application_request.missing_columns.present? %>
				<%=  link_to "တင်သွင်းပါသည်။",application_request_change_state_path(@application_request, state: "submit"), method: :post, class: "btn float-left btn-outline-success ml-2 ", data: { confirm: "Are you sure?, You can not undo after this" }%>
			    <% else %>
				<%=  link_to "တင်သွင်းပါသည်။",application_request_change_state_path(@application_request, state: "submit"), method: :post, class: "btn float-left btn-outline-success ml-2 disabled ", data: { confirm: "Are you sure?, You can not undo after this" }%>
			    <% end %>
			<% end %>
		    <% else %>

		    <% end %>


		</div>
	    </div>
	</div>
    </div>
    <% if @application_request.missing_columns.present? %>
	<div class="card cta-box bg-warning text-white">
	    <div class="card-body">
		<div class="media align-items-center">
		    <div class="media-body">
			<h4 style="margin-top: -20px">
			    <div class="row">
				<div id="notification-svgContainer" style="width: 80px;"></div>
				<div class="mt-3"><%= t(:pending_edit) %></div>
			    </div>

			</h4>
			<ul style="margin-top: -20px">
			    <% @application_request.missing_columns.each do |item| %>
				<li> <%= t(item) %></li>

			    <% end %>
			</ul>
			<a href="<%= edit_application_request_path(@application_request) %>">
			    <h5 class="m-0 font-weight-normal text-white" ><b><%= t(:edit_now) %></b>
				<i class="mdi mdi-arrow-right-bold-outline"></i></h5>
			</a>
		    </div>

		</div>
	    </div>
	    <!-- end card-body -->
	</div>
    <% end %>
    <hr class="mt-4">
    <div class="row">
	<div class="col-12">
	    <h3 class="float-left"> <%= t("employees") %><span id="rowCount"></span> </h3>

	    <% if current_user.company?  and @application_request.draft? %>
		<%= link_to 'Delete', "", class: "btn btn-outline-danger ml-2", type: "button", data: {
		    action: "click -> employee-grid#deleteRows"
		} %>
		<%= button_tag  "Select All", type: "button", class: "btn btn-outline-primary ml-2", type: "button", data: {
		    action: "click -> employee-grid#selectAll"
		} %>


		<%= link_to 'Import Excel', new_employees_path(@application_request), class: "btn btn-outline-info", type: "button" %>
		<%= link_to  "Download Template", "/employees-list-template.xlsx", target: :_blank, class: 'btn btn-primary mr-1' %>
	    <% end %>

	</div>
    </div>
    <script>
     // specify the columns
     var editable = <%= raw(@application_request.draft?) %>
     var columnDefs = [
	 // filter not specified, defaultColDef setting is used
	 { headerName: "",field: 'actions',width:70, checkboxSelection: editable},
	 { headerName: "Name",field: 'name', editable: editable },
	 { headerName: "Gender",field: 'gender',editable: editable },
	 { headerName: "Date of birth",field: 'date_of_birth',editable: editable,cellEditor: 'dateEditor',    filter: 'agDateColumnFilter' },
	 { headerName: "Nric",field: 'nric',editable: editable },
	 { headerName: "Position",field: 'position',editable: editable },
	 { headerName: "Salary",field: 'salary',editable: editable },
	 { headerName: "Remark",field: 'ssn_employee_no',editable: editable }
     ];
     window.colDefs = columnDefs
    </script>
    <script>



     window.initialRows =  <%= @employees_json.html_safe %>;



    </script>


    <div class="row">
	<div class="col-12"
	>

	    <div id="myGrid"
		 style="height: 600px;width:100%;"
		 class="ag-theme-alpine mt-3"
		 data-action="updateGrid@window->employee#update"
		 data-target="employee-grid.grid">

	    </div>
	</div>
    </div>

</div>

<script data-turbolinks-eval="false">
 var svgContainer = document.getElementById('notification-svgContainer');
 var animItem = bodymovin.loadAnimation({
     wrapper: svgContainer,
     animType: 'svg',
     loop: true,
     path: '/notification.json'
 });

 var downloadSvgContainer = document.getElementById('download-svgContainer');
 bodymovin.loadAnimation({
     wrapper: downloadSvgContainer,
     animType: 'svg',
     loop: true,
     path: '/download.json'
 });
</script>
<style>
 dt{
     color: black;
     font-family: Pyidaungsu,Yunghkio;
 }
 dd{

     font-family: Pyidaungsu,Yunghkio;
 }
</style>
