
<html>
    <head>
	<title> </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
	<script>
	 window.print();
	</script>
    </head>
    <body>

	<% x = @application_requests.first %>


	<div class="content" style="padding-left: 67.2px; padding-top: 28.8px">

	    <div style="display: flex; justify-content: center; align-items:center;" >
		<div style="justify-content: center; align-items:center; display: block;text-align: center; font-weight: bold; font-size: 14px;">
		    <p style="font-size: 14px; font-weight: bold;">ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့</p>
		    <a href="https://bizhub.yrgconnect.online">HTTPS://BIZHUB.YRGCONNECT.ONLINE</a>
		    <p class="p-0" style="margin: 0px; padding: 0px;">ထောက်ပံ့ကြေးလျှောက်လွှာ အချက်အလက် မိတ္တူ</p>
		    <p class="p-0" style="margin: 0px; padding: 0px;"><%= x.workplace.name.upcase %></p>
		</div>

	    </div>
	    <div style="display: flex; justify-content: center; align-items:center;" >
		<div style="justify-content: center; align-items:center; display: block; font-weight: bold; font-size: 14px;">
		    <div>

		    </div>
		</div>
	    </div>

	    <div style="display: flex; justify-content: center; align-items:center;  padding-top: 10px;">
		<table class="table table-bordered" style="width: 100%; " >


		    <tbody>

			<tr>
			    <td class="mm" style="padding-left: 10px;">
				လုပ်ငန်းအမည်
			    </td>
			    <td style="padding-left: 10px;"><%= x.workplace.name.force_unicode %></td>
			</tr>
			<tr>
			    <td class="mm" style="padding-left: 10px;">

				စက်မှုဇုန်/မြို့နယ်
			    </td>
			    <td style="padding-left: 10px;"><%= x.workplace.township.name %></td>
			</tr>
			<tr>
			    <td class="mm" style="padding-left: 10px;">

				လျှောက်ထားသည့်ရက်စွဲ
			    </td>
			    <% if x.submit_at.present? %>
				<td style="padding-left: 10px;"><%= x.submit_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
			    <% else %>
				<td style="padding-left: 10px;"><%= x.created_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
			    <% end %>
			</tr>

			<tr>
			    <td style="padding-left: 10px;">
				အတည်ပြုရက်စွဲ
			    </td>
			    <% unless x.verify_at.present? %>
				<td style="padding-left: 10px;"> N.A </td>
			    <% else %>
				<td style="padding-left: 10px;"> <%= x.verify_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
			    <% end %>
			</tr>
			<tr>
			    <td style="padding-left: 10px;">
				ခွင့်ပြုရက်စွဲ
			    </td>
			    <% unless x.approve_at.present? %>
				<td style="padding-left: 10px;"> N.A </td>
			    <% else %>
				<td style="padding-left: 10px;"> <%= x.approve_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
			    <% end %>
			</tr>


			<tr>
			    <td class="mm" style="padding-left: 10px;">

				<%= t("organization_registration_no") %>

			    </td>
			    <td style="padding-left: 10px;"><%= x.organization_registration_no %></td>
			</tr>
			<tr>
			    <td class="mm" style="padding-left: 10px;">

				Owner name
			    </td>
			    <td style="padding-left: 10px;"><%= x.owner_name %></td>
			</tr>

			<tr>
			    <td class="mm" style="padding-left: 10px;">

				<%= t("owner_phone") %>
			    </td>
			    <td style="padding-left: 10px;"><%= x.owner_phone %></td>
			</tr>

			<tr>
			    <td class="mm" style="padding-left: 10px;">

				<%= t("state") %>
			    </td>
			    <td style=" padding-left: 10px;"><%= t(x.aasm_state) %></td>
			</tr>
			<tr>
			    <td class="mm" style="padding-left: 10px;">

				ဦးရေ
			    </td>
			    <td style="padding-left: 10px;"><%= t(x.employees.count.english_numbers_to_myanmar) %></td>
			</tr>
		    </tbody>

		</table>
	    </div>
	    <div  style="padding-top: 30px;padding-left: 50px; padding-right: 50px;">
		<hr class="break">
	    </div>

	    <div class="pagebreak"> </div>


	    <div>
		<% @application_requests.each do  |x| %>
		<div >
		    <p> <%= x.workplace.name %> - လျှောက်လွှာမိတ္တူ  </p>
		    <img alt="မှတ်ချက်။ ။ ထောက်ပံ့ငွေထုတ်ယူသောအခါ လျှောက်လွှာမိတ္တူကိုတောင်းယူပါ။" style="max-width: 90%;max-height: 90%" src="<%= url_for(x.attachment) if x.attachment.attached? %>"></img>
		</div>
		<div class="pagebreak"> </div>
		<p></p>
		<div>

		    <p style=" padding-right: 60px;"> <%= x.workplace.name %> - အလုပ်သမား (<%= x.employees.count.english_numbers_to_myanmar %>) ဦး  </p>
		    <p> </p>

		    <div style="display: flex; justify-content: center; align-items:center;">


			<table class="table table-bordered" style="width: 100%;" >
			    <thead>
				<tr>
				    <td style="text-align: center;">
					စဉ်
				    </td>
				    <td style="text-align: center;">
					အမည်
				    </td>

				    <td style="text-align: center;">
					မှတ်ပုံတင်
				    </td>
				    <td style="text-align: center;">
					ရာထူး
				    </td>
				    <td style="text-align: center;">
					လစာ
				    </td>

				    <td style="text-align: center;">
					မှတ်ချက်
				    </td>

				</tr>
			    </thead>
			    <tbody>
				<% x.employees.each_with_index do |e,y|%>
				    <tr>
					<td style="width: 50px; text-align: center;">
					    <%=(y + 1).english_numbers_to_myanmar %>
					</td>
					<td style="width: 200px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.name.force_unicode %>
					</td>

					<td style="width: 120px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.nric.force_unicode %>
					</td>

					<td style="width: 120px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.position.force_unicode %>
					</td>

					<td style="width: 80px; text-align: center;">
					    <%= e.salary %>
					</td>
					<td style="width: 120px; text-align: center;">
					    <%= e.ssn_employee_no %>
					</td>
				    </tr>
				<% end %>
			    </tbody>
			</table>

		    </div>
		    <div class="pagebreak"> </div>

		    <% end %>
		</div>



    </body>
</html>

<style>

 @media print {
     .pagebreak { page-break-before: always; } /* page-break-after works, as well */
 }
 @page {
     size: A4;
     margin-top: 28.8px;
     margin-bottom: 28.8px;


 }
 @media print {
     html, body {
	 width: 210mm;
	 height: 297mm;
     }
     /* ... the rest of the rules ... */
 }
 table, th, td
 {
     border-collapse:collapse;
     border: 1px solid black;


 }
 hr.break {
     border: 1px black red;
 }

 @page front-matter :left {
     @bottom-left {
	 content: counter(page, lower-roman);
     }
 }
 div.chapter, div.appendix {
     page-break-after: always;
 }
 .header, .header-space,
 .footer, .footer-space {
     height: 10px;
 }.header {
     position: fixed;
     top: 0;
 }.footer {
     position: fixed;
     bottom: 0;
 }

 @print {

     @page :footer {
	 display: none
     }

     @page :header {
	 display: none
     }
 }
 .mm{
     font-size: 13px;
     font-family:Pyidaungsu,Yunghkio;
 }

 p{
     font-size: 13px;
     font-family:Pyidaungsu,Yunghkio;
 }
 td{
     font-size: 13px;
     font-family:Pyidaungsu,Yunghkio;
 }

</style>
