<!DOCTYPE html>
<html>
    <head>
	<title>
	    ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့ | အလုပ်ဌာန ဆက်သွယ်ရေး Online စနစ်
	</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- third party css -->
	<link href="/creative/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
	<!-- third party css end -->
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" data-turbolinks-eval="false"></script>
	<!-- App css -->
	<link href="/creative/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/creative/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />

	<link href="/creative/assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
	<link href="/creative/assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.3/lottie.min.js" integrity="sha512-35O/v2b9y+gtxy3HK+G3Ah60g1hGfrxv67nL6CJ/T56easDKE2TAukzxW+/WOLqyGE7cBg0FR2KhiTJYs+FKrw==" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/css/tableexport.css" integrity="sha512-+m+NCQG6uttXsLjwxHTUdhov99LW3TSFEiM2LSFMwfOePszb2as348/96cCBG35mOK+3Gp4P0EQR
WpKLZfGTnA==" crossorigin="anonymous" />
	<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js" integrity="sha256-u/J1Urdrk3nCYFefpoeTMgI5viU1ujCDu2fXXoSJjhg=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js" integrity="sha512-XmZS54be9JGMZjf+zk61JZaLZyjTRgs41JLSmx5QlIP5F+sSGIyzD2eJyxD4K6kGGr7AsVhaitzZ2WTfzpsQzg==" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
	<%= content_for :render_async %>
    </head>

    <body  data-layout="topnav" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>

	<div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page mb-3">
		<div class="content">
                    <!-- Topbar Start -->
                    <% if current_user.present? %>

			<div class="navbar-custom topnav-navbar topnav-navbar-dark">
                            <div class="container-fluid">

				<!-- LOGO -->
				<a href="" class="topnav-logo">
                                    <span class="topnav-logo-lg">
					<img src="/govlogo.png" alt="" height="50">
                                    </span>
				</a>

				<ul class="list-unstyled topbar-left-menu float-left mb-0 title">
                                    <span class="text-white navbar-project-name" >ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့</span> <br>
                                    <p class="text-white navbar-project-name dep">အလုပ်ဌာန ဆက်သွယ်ရေး Online စနစ်</p>
				</ul>

				<ul class="list-unstyled topbar-right-menu float-right mb-0">

				    <%= render partial: "shared/profile" %>

				</ul>

				<a class="navbar-toggle"  data-toggle="collapse" data-target="#topnav-menu-content">
                                    <div class="lines">
					<span></span>
					<span></span>
					<span></span>
                                    </div>
				</a>
				<!-- <% render partial: "shared/searchbar" %> -->

                            </div>
			</div>

			<!-- end Topbar -->
			<%= render partial: "shared/navbar" %>
                    <% end %>

                    <!-- Start Content-->
                    <div class="container-fluid mt-4">

			<% if user_masquerade?  %>
			    <div class="alert alert-warning bg-warning text-white border-0" role="alert">
				<strong> <%= link_to "Go back →", back_masquerade_path(current_user),class: "text-danger" %>
				</strong> You are logged in as <%= current_user.email %>


			    </div>
			<% end %>

			<%= yield %>
                    </div>
                    <!-- container -->

		</div>
		<!-- content -->
		<%=  any_login_here if defined?(AnyLogin) %>
		<!-- Footer Start -->
		<%= render partial: "shared/footer" %>


		<!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>

        <script src="/creative/assets/js/vendor.min.js" data-turbolinks-eval="false"></script>
        <script src="/creative/assets/js/app.min.js" data-turbolinks-eval="false"></script>


	<!-- third party js -->
        <script src="/creative/assets/js/vendor/apexcharts.min.js"></script>
        <script src="/creative/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/creative/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
        <!-- third party js ends -->
	<style>
	 h1,h2,h3,h4,h5,h6,h7{
	     font-family: Pyidaungsu,Yunghkio;
	 }
	 p{
	     font-family: Pyidaungsu,Yunghkio;
	 }
	 span{
	     font-family: Pyidaungsu,Yunghkio;

	 }
	 label{
	     font-family: Pyidaungsu,Yunghkio;

	 }
	 button{
	     font-family: Pyidaungsu,Yunghkio;
	 }
	 a{
	     font-family: Pyidaungsu,Yunghkio;
	 }
	 th{
	     font-family: Pyidaungsu,Yunghkio;
	 }
 	 td{ 	     font-family: Pyidaungsu,Yunghkio; }
	 body{ 	     font-family: Pyidaungsu,Yunghkio; }

	</style>
  </body>
</html>
