
<html>
    <head>
	<title> </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
	<script>
	 window.print();
	</script>
    </head>
    <body>




	<div class="content">


	    <div style="display: flex; justify-content: center; align-items:center;" >
		<div style="justify-content: center; align-items:center; display: block; font-weight: bold;">
		    လူမှုဖူလုံရေးကြေးတွင်မပါဝင်သောအလုပ်သမားများအတွက်
		</div>

	    </div>


	    <div style="display: flex; justify-content: center; align-items:center; font-weight: bold;" class="mm">
		<div style="display: block">ထောက်ပံ့ကြေးငွေ (၃၀၀၀၀) ကျပ် ခွင့်ပြုစာရင်း</div>
	    </div>
	    <div style="position: absolute; right: 150px" >
		<p class="mm"> ရက်စွဲ ။ ။ <p>
	    </div>

	    <div style="padding-left: 60px; padding-top: 50px;">
		<p>အလုပ်သမား စုစုပေါင်း ( <%=  @application_requests.sum{ |x| x.employees.count}.english_numbers_to_myanmar %> ) ဦး</p>
	    </div>
	    <div style="display: flex; justify-content: center; align-items:center; padding-left: 60px; padding-right: 60px; padding-top: 10px;">
		<table class="table table-bordered" style="width: 100%; " >
		    <thead>
			<tr>
			    <td style="width: 50px; text-align: center;" class="mm">
				စဉ်
			    </td>
			    <td style="width: 200px; text-align: center;" class="mm">
				လုပ်ငန်းအမည်
			    </td>
			    <td style="width: 40px; text-align: center;" class="mm">
				ဦးရေ
			    </td>
			    <td style="width: 120px; text-align: center;" class="mm">
				စက်မှုဇုန်/မြို့နယ်
			    </td>
			    <td style="width: 80px; text-align: center;" class="mm">
				လျှောက်ထားသည့်ရက်စွဲ
			    </td>

			</tr>
		    </thead>
		    <tbody>
			<% @application_requests.each_with_index do |x,index| %>
			    <tr>
				<td style="width: 20px; padding-left: 10px;"><%= (index + 1).english_numbers_to_myanmar%></td>
				<td style="width: 200px; padding-left: 10px;"><%= x.workplace.name.force_unicode %></td>
				<td style="width: 20px; padding-left: 10px;"><%= x.employees.count.english_numbers_to_myanmar %></td>
				<td style="width: 200px; padding-left: 10px;"><%= x.workplace.township.name %></td>
				<% if x.submit_at.present? %>
				    <td style="width: 20px; padding-left: 10px;"><%= x.submit_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
				<% else %>
				    <td style="width: 20px; padding-left: 10px;"><%= x.created_at&.strftime("%d-%m-%Y").english_numbers_to_myanmar %></td>
				<% end %>
			    </tr>

			<% end %>
		    </tbody>

		</table>
	    </div>
	    <div  style="padding-top: 30px;padding-left: 50px; padding-right: 50px;">
		<hr class="break">
	    </div>
	    <div style="padding-left: 60px; padding-top: 100px;">
		<p>ဒေါ်မိုးမိုးစုကြည်
		    <br>လူဝင်မှုကြီးကြပ်ရေးနှင့်လူ့စွမ်းအားအရင်းအမြစ်ဝန်ကြီး
		    <br> ရန်ကုန်တိုင်းဒေသကြီးအစိုးရအဖွဲ့  </p>

	    </div>
	    <div class="pagebreak"> </div>


	    <div>
		<% @application_requests.each do  |x| %>
		<div style="padding-left: 60px; ">
		    <p> <%= x.workplace.name %> - လျှောက်လွှာမိတ္တူ  </p>
		    <img alt="မှတ်ချက်။ ။ ထောက်ပံ့ငွေထုတ်ယူသောအခါ လျှောက်လွှာမိတ္တူကိုတောင်းယူပါ။" style="max-width: 90%;max-height: 90%" src="<%= url_for(x.attachment) if x.attachment.attached? %>"></img>
		</div>
		<div class="pagebreak"> </div>
		<p></p>
		<div>

		    <p style="padding-left: 60px; padding-right: 60px;"> <%= x.workplace.name %> - အလုပ်သမား (<%= x.employees.count.english_numbers_to_myanmar %>) ဦး  </p>
		    <p> </p>

		    <div style="display: flex; justify-content: center; align-items:center; padding-left: 60px; padding-right: 60px;">


			<table class="table table-bordered" style="width: 100%;" >
			    <thead>
				<tr>
				    <td style="text-align: center;">
					စဉ်
				    </td>
				    <td style="text-align: center;">
					အမည်
				    </td>

				    <td style="text-align: center;">
					မှတ်ပုံတင်
				    </td>
				    <td style="text-align: center;">
					ရာထူး
				    </td>
				    <td style="text-align: center;">
					လစာ
				    </td>

				    <td style="text-align: center;">
					မှတ်ချက်
				    </td>

				</tr>
			    </thead>
			    <tbody>
				<% x.employees.each_with_index do |e,y|%>
				    <tr>
					<td style="width: 50px; text-align: center;">
					    <%=(y + 1).english_numbers_to_myanmar %>
					</td>
					<td style="width: 200px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.name.force_unicode %>
					</td>

					<td style="width: 120px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.nric.force_unicode %>
					</td>

					<td style="width: 120px; text-align: center;padding-left: 5px; padding-right: 5px;">
					    <%= e.position.force_unicode %>
					</td>

					<td style="width: 80px; text-align: center;">
					    <%= e.salary %>
					</td>
					<td style="width: 120px; text-align: center;">
					    <%= e.ssn_employee_no %>
					</td>
				    </tr>
				<% end %>
			    </tbody>
			</table>

		    </div>
		    <div class="pagebreak"> </div>

		    <% end %>
		</div>



    </body>
</html>

<style>

 @media print {
     .pagebreak { page-break-before: always; } /* page-break-after works, as well */
 }
 @page {
     size: A4;
     margin-top: 100px;
     margin-bottom: 100px;


 }
 @media print {
     html, body {
	 width: 210mm;
	 height: 297mm;
     }
     /* ... the rest of the rules ... */
 }
 table, th, td
 {
     border-collapse:collapse;
     border: 1px solid black;


 }
 hr.break {
     border: 1px black red;
 }

 @page front-matter :left {
     @bottom-left {
	 content: counter(page, lower-roman);
     }
 }
 div.chapter, div.appendix {
     page-break-after: always;
 }
 .header, .header-space,
 .footer, .footer-space {
     height: 10px;
 }.header {
     position: fixed;
     top: 0;
 }.footer {
     position: fixed;
     bottom: 0;
 }

 @print {
     @page :footer {
	 display: none
     }

     @page :header {
	 display: none
     }
 }
 .mm{
     font-family:Pyidaungsu,Yunghkio;
 }
 p{
     font-family:Pyidaungsu,Yunghkio;
 }
 td{
     font-family:Pyidaungsu,Yunghkio;
 }

</style>
<script>
 var curURL = window.location.href;
 history.replaceState(history.state, '', '/');
 window.print();
 history.replaceState(history.state, '', curURL);

</script>
