<!DOCTYPE html>
<html>
  <head>
      <title>PemasBaseTemplate</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- third party css -->
      <link href="/saas/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
      <!-- third party css end -->

      <!-- App css -->
      <link href="/saas/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
      <link href="/saas/assets/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />
   
  </head>

  <body   data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <%= render partial: "shared/left-side-menu" %>
            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <%= render partial: "shared/notification" %>
                            <%= render partial: "shared/apps" %>
                            <%= render partial: "shared/profile" %>

                        </ul>
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="mdi mdi-menu"></i>
                        </button>
                          <!-- <% render partial: "shared/searchbar" %> -->                
                    </div>
                    <!-- end Topbar -->
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <%= yield %>
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <!-- Footer Start -->
                <%= render partial: "shared/footer" %>

                <!-- end Footer -->

            </div>
        </div>
        <script src="/saas/assets/js/vendor.min.js"></script>
        <script src="/saas/assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="/saas/assets/js/vendor/apexcharts.min.js"></script>
        <script src="/saas/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/saas/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
     </body>
</html>
